@import url("https://fonts.googleapis.com/css2?family=Oswald&display=swap");

:root {
	--primary-color: #ff5a2a;
	--secondary-color: #084557;
	--light-color: #c1e6f2;
	--dark-color: #517480;
}

body {
	margin: 0;
	font-family: "Oswald", sans-serif;
}
